<footer class="footer-fleava">
	<div class="container-fleava">
		<div class="content-footer">
			<div class="content-footer__items">
				<div class="footer-logo">
					<img src="img/logo.png" class="logo" alt="">
					Journey
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia similique quis possimus, porro expedita, illum, voluptatem cumque, ab blanditiis ut animi odit neque.</p>
			</div>
			<div class="content-footer__items content-footer__items-inline">
				<div class="content-footer__items-inner">
					<h4 class="text-uppercase">Navigate</h4>
					<a href="#">About</a>
					<a href="#">Blog</a>
					<a href="#">Term of use</a>
					<a href="#">FAQ</a>
				</div>
				<div class="content-footer__items-inner">
					<h4 class="text-uppercase">Follow Us</h4>
					<a href="#">Facebook</a>
					<a href="#">Twitter</a>
					<a href="#">Instagram</a>
					<a href="#">Youtube</a>
				</div>
			</div>
		</div>
		<div class="content-footer">
			<div class="content-footer__items">
				<p>Copyright &copy; 2018 The Company. All Right reserved.</p>
			</div>
			<div class="content-footer__items">
				<form action="#">
					<div class="form-group form-group__inline">
						<input type="text" class="form-control form-footer" placeholder="Enter your email address">
						<button type="submit" class="btn-submit__arrow">
							<i class="fa fa-chevron-right"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</footer>