<nav class="fleava-navbar" id="header">
  <div class="fleava-navbar__wrapper" id="parrentNav">
    <a href="#" class="fleava-navbar__brand">
      <img src="img/logo.png" class="logo" alt="">
      Journey
    </a>
    <div class="humberger" onclick="myFunction()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul class="fleava-navbar__menu" id="menu">
      <li class="fleava-navbar__menu-item">
        <a href="#" class="item-link">
          Home
        </a>
      </li>
      <li class="fleava-navbar__menu-item">
        <a href="#" class="item-link">
          About us
        </a>
      </li>
      <li class="fleava-navbar__menu-item">
        <a href="#" class="item-link">
          Our Work
        </a>
      </li>
      <li class="fleava-navbar__menu-item">
        <a href="#" class="item-link">
          Latest News
        </a>
      </li>
      <li class="fleava-navbar__menu-item">
        <a href="#" class="btn btn-transparent hvr-sweep-to-right">
          Say Hello
        </a>
      </li>
    </ul>
  </div>
</nav>