{% extends "layout.html" %}

{% block content %}
<section class="section-fleava__first">
	<div class="container-fleava container-fleava__center">
		<div class="hero-wrapper">
			<h1 class="hero-text text-big" data-aos="fade-up" data-aos-delay="50" data-aos-duration="600" data-aos-easing="ease-in-out" data-aos-once="true">Plan the <br>Journey <br>Ahead</h1>
			<div class="btn-wrapper" data-aos="fade" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
				<a href="#" class="btn btn-primary hvr-sweep-to-right">
					View Projects
				</a>
			</div>
			<div class="arrow-down__wrapper" data-aos="fade" data-aos-delay="250" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
				<a href="#" class="arrow bounce" id="scroll-down">
				  <img src="img/down-chevron.png" alt="" class="img-responsive">
				</a>
			</div>
		</div>
	</div>
</section>
<section class="section section-fleava__second" id="section-second">
	<div class="container-fleava">
		<h1 class="text-big text-uppercase" data-aos="fade-up" data-aos-delay="50" data-aos-duration="600" data-aos-easing="ease-in-out" data-aos-once="true">Make this<br>Happen</h1>
		<p data-aos="fade" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestiae rerum sequi, nisi iste nostrum voluptates, eos obcaecati vel harum exercitationem eum commodi qui totam nulla itaque accusamus deleniti placeat.</p>
		<p data-aos="fade" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni sunt magnam dolore odio! Quae, debitis qui, voluptate adipisci natus inventore recusandae nihil velit quas harum, rerum aperiam ratione illo dignissimos? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus similique optio nihil odio deleniti animi beatae consequatur esse vel, id voluptates ipsum ab magnam nulla dolor earum debitis iure!
		</p>
		<p data-aos="fade" data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga unde veritatis, nulla vel architecto sint autem totam amet ducimus aliquam deserunt, nobis accusamus vitae exercitationem, esse voluptate inventore delectus corrupti?</p>
	</div>
</section>
<section class="section section-fleava__third">
	<h2 class="helper">Heading Third Section</h2>
	<div class="slider-wrapper" data-aos="fade" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
		<div class="slider">
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-1.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-2.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-3.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-4.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-5.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-6.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-7.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-8.jpg" class="img-responsive" alt="">
				</a>
			</div>
			<div class="slider-items">
				<a href="#" class="slider-items__link">
					<img src="img/home/slide-9.jpg" class="img-responsive" alt="">
				</a>
			</div>
		</div>
	</div>
	
</section>
<section class="section section-fleava__fourth">
	<div class="container-fleava">
		<i class="fa fa-twitter icon-twitter" data-aos="fade-right" data-aos-delay="50" data-aos-duration="600" data-aos-easing="ease-in-out" data-aos-once="true"></i>
		<h1 class="text-white" data-aos="fade-right" data-aos-delay="100" data-aos-duration="600" data-aos-easing="ease-in-out" data-aos-once="true">Yes. It's very true. We're going back to using <br> MacPaint of today. Don't try and stop us!</h1>
		<div class="btn-wrapper" data-aos="fade-right" data-aos-delay="200" data-aos-duration="600" data-aos-easing="ease-in-out" data-aos-once="true">
			<a href="#" class="btn btn-secondary text-uppercase hvr-sweep-to-right hvr-sweep-to-right--brown">Follow Us</a>
		</div>
		
	</div>
</section>
<section class="section section-fleava__fiveth">
	<div class="container-fleava">
		<div class="article-wrapper">
			<a href="#" class="article-items" data-aos="fade" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
				<div class="article-img">
					<img src="img/home/article-1.jpg" class="img-responsive" alt="">
				</div>
				<div class="article-content">
					<p class="article-content__date">
						29th October 2017
					</p>
					<h3 class="article-content__title">
						We went on a lovely little trip down the river this Summer
					</h3>
					<p class="article-content__text">
						Always be creating something amazing in everything you do and don't forget that there is always a way to achieve certain...
					</p>
				</div>
			</a>
			<a href="#" class="article-items" data-aos="fade" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
				<div class="article-img">
					<img src="img/home/article-2.jpg" class="img-responsive" alt="">
				</div>
				<div class="article-content">
					<p class="article-content__date">
						29th October 2017
					</p>
					<h3 class="article-content__title">
						We went on a lovely little trip down the river this Summer
					</h3>
					<p class="article-content__text">
						Always be creating something amazing in everything you do and don't forget that there is always a way to achieve certain...
					</p>
				</div>
			</a>
			<a href="#" class="article-items" data-aos="fade" data-aos-delay="250" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
				<div class="article-img">
					<img src="img/home/article-3.jpg" class="img-responsive" alt="">
				</div>
				<div class="article-content">
					<p class="article-content__date">
						29th October 2017
					</p>
					<h3 class="article-content__title">
						We went on a lovely little trip down the river this Summer
					</h3>
					<p class="article-content__text">
						Always be creating something amazing in everything you do and don't forget that there is always a way to achieve certain...
					</p>
				</div>
			</a>
		</div>
	</div>
</section>
{% endblock %}