.section-fleava{
	&__first{
		background-image: url('../img/home/hero.jpg');
		background-size: cover;
		background-position: bottom;
		height: 100vh;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.btn-primary{
			text-transform: uppercase;
		}
		.hero-text{
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 5px;
			margin-top: 0;
			margin-bottom: 30px;
			font-weight: bold;
		}
	}
	&__third{
		position: relative;
		min-height: 100vh;
		display: flex;
		align-items: center;
		.slider-wrapper{
		    position: relative;
		    display: flex;
		    align-items: center;
		    &:before{
		    	content: '';
			    background: #0076fe;
			    display: block;
			    width: 960px;
			    height: 600px;
			    margin: auto;
			    position: absolute;
			    left: 0;
			    border-radius: 10px;
			    right: 0;
		    }
		}
		.slider-items{
			&__link{
				display: block;
				overflow: hidden;
				height: 460px;
				img{
					transition: all .3s ease;
				}
				&:hover{
					img{
						transform: scale(1.1);
					}
				}
			}
		}
		.tns-controls{
			display: none;
		}
		.tns-nav{
		    position: absolute;
		    bottom: -30px;
		    width: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		}
	}
	&__fourth{
		background-color: #0076fe;
		i.icon-twitter{
			color: #fff;
			font-size: 24px;
		}
	}
	&__fiveth{
		.article{
			&-wrapper{
				display: flex;	
			}
			&-img{
				overflow: hidden;
				height: 200px;
				img{
					transition: all .3s ease;
				}
			}
			&-items{
			    padding: 0 15px;
			    display: block;
			    color: #000;
			    &:hover{
			    	.article-img{
			    		img{
							transform: scale(1.2);
			    		}
			    	}
			    }
			}
			&-content{
				text-align: center;
			}
		}
	}
}