.btn{
	color: #fff;
	padding: 14px 22px;
    letter-spacing: 1px;
    font-size: 12px;
    display: inline-block;
    &-primary{
		background: #0076fe;
    }
	&-secondary{
		background: #303030;
	}
	&-transparent{
		background: transparent;
		border: 2px solid #fff;
	}
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white !important;
  border-color: #2098D1 !important;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right--brown:before{
	content: "";
	background: #565555;
}
.hvr-sweep-to-right--brown:hover, 
.hvr-sweep-to-right--brown:focus, 
.hvr-sweep-to-right--brown:active {
  color: white !important;
  border-color: #565555 !important;
}
.hvr-sweep-to-right--brown:hover:before, 
.hvr-sweep-to-right--brown:focus:before, 
.hvr-sweep-to-right--brown:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}