.section{
	padding: 50px 0;
}
.helper{
	display: none;
}
.img-responsive{
	width: 100%;
}
.container-fleava{
	max-width: 960px;
	height: 100%;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	&__center{
		display: flex;
		align-items: center;
	}
}
.form-group{
	position: relative;
	&__inline{
		display: flex;
	}
}
.form-control{
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ddd;
	padding: 12px 0;
	display: inline-block;
	width: 100%;
	&:focus{
		outline: 0;
	}
}
.text-big{
	font-size: 72px;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-white{
	color: #fff;
}
.logo{
	width: 35px;
	margin-right: 10px;
}
.tns-nav{
	button{
		background: #fff;
	    border: 0;
	    border-radius: 100%;
	    width: 8px;
	    height: 8px;
	    padding: 0;
	    opacity: .8;
	    margin: 0 5px;
	    transition: .3s ease;
	    &:focus{
	    	outline: none;
	    }
	}
	.tns-nav-active{
		width: 13px;
		height: 13px;
	}
}
.arrow {
	position: absolute;
	display: block;
    bottom: 10px;
    img{
    	opacity: .7;
    }
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}