.footer-fleava{
	background: #000000;
	padding: 50px 0;
	color: #fff;
}
.footer-logo{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 28px;
}
.btn-submit__arrow{
	background: transparent;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
}
.form-footer{
	color:#fff;
}
.content-footer{
	display: flex;
	align-items: flex-start;
	&__items{
		flex-basis: 50%;
		padding: 0 35px;
		&-inline{
			display: flex;
		}
		&-inner{
			display: flex;
			flex-direction: column;
			flex-basis: 50%;
			a{
				color: #fff;
				margin-bottom: 5px;
			}
		}
	}
	&:first-child{
		margin-bottom: 30px;
	}
	&:nth-child(2){
		align-items: flex-end;
		.content-footer__items{
			p{
				margin:0;
			}
		}
	}
}