.fleava-navbar{
	background: transparent;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
	transition: all .3s ease;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	    padding: 20px 30px;
	    a{
	    	color: #fff;
	    }
	}
	&__brand{
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 14px;
		display: flex;
		align-items: center;
		font-weight: 600;
	}
	&__menu{
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
		&-item{
			text-transform: uppercase;
			padding: 0 10px;
			font-size: 14px;
			a.item-link:after{
				content: '';
				display: block;
				width: 0;
				height: 2px;
				background: #fff;
				margin: auto;
				margin-top: 6px;
				transition: all .3s ease;
			}
			a.item-link:hover:after{
				width: 80%;
			}
		}
		.btn-transparent{
		    padding: 10px 20px;
		}
	}
}
.humberger{
	display: none;
	div{
		width: 28px;
	    height: 2px;
	    margin-bottom: 5px;
	    background: #fff;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
}
.slideUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform .4s ease-out;
}
.slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform .4s ease-out;
  background: #fff;
  box-shadow: 1px 2px 4px 2px rgba(165, 165, 165, 0.2);
  .fleava-navbar__menu-item a.item-link:hover:after{
  	background: #000;
  }
  .fleava-navbar__wrapper{
  	a{
  		color: #000;
  	}
  	.btn-transparent{
  		border-color: #000;
  	}
  }
}