@media (max-width: 1024px){
	.section-fleava{
		&__third{
			.slider-items__link{
				height: 350px;
			}
		}
	}
}
@media (max-width: 768px){
	.container-fleava{
		max-width: 700px;
	}
	.arrow{
	    width: 100%;
    	text-align: center;
    	img{
		    width: 32px;
    	}
	}
	.section-fleava{
		&__third{
			min-height: 60vh;
			.slider-wrapper{
				&:before{
					width: 700px;
			    	height: 450px;
				}
			}
		}
		&__fiveth{
			.article-img{
			    height: 140px;
			}
		}
	}
}
@media (max-width: 640px){
	.container-fleava{
		max-width: 570px;
	}
	.fleava-navbar__brand{
		position: relative;
		z-index: 9;
	}
	.humberger{
		display: block;
		position: relative;
		z-index: 9;
	}
	.slideUp{
		-webkit-transform: translateY(0);
  		transform: translateY(0);
  		background: #fff;
  		box-shadow: 1px 2px 4px 2px rgba(165, 165, 165, 0.2);
  		transition: all .3s ease-out;
  		.fleava-navbar__wrapper{
		  	a{
		  		color: #000;
		  	}
		}
		.humberger{
			div{
				background: #000;
			}
		}
	}
	.slideDown{
		.humberger{
			div{
				background: #000;
			}
		}	
	}
	.fleava-navbar__menu{
		visibility: hidden;
	    position: fixed;
	    flex-direction: column;
	    align-items: flex-start;
	    width: 100%;
        background: rgba(48, 48, 48, 0.95);
	    left: 0;
	    top: 0;
        padding: 90px 25px 20px;
	    height: 100vh;
	    transform: translateX(-100%);
	    transition: all .3s ease-in-out;
	    z-index: 8;
	    &-open{
			visibility: visible;
			transform: translateX(0);
			.fleava-navbar__menu-item{
				a{
					color: #fff !important;
				}
				.btn-transparent{
					border-color: #fff !important;
				}
			}
	    }
	    &-item{
    	    font-size: 16px;
		    margin-bottom: 20px;
		    font-weight: bold;
		    letter-spacing: 2px;
		    .btn-transparent{
		    	font-size: 16px;
		    }
		    a.item-link:after{
		    	margin-left: 0;
		    }
	    }
	}
	.nav-active{
		.fleava-navbar__brand{
			color: #fff !important;
		}
		.humberger{
			div{
				background: #fff;
				transition: all .3s ease-in-out;
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(1){
					-webkit-transform: translateY(5px) rotate(45deg);
					-ms-transform: translateY(5px) rotate(45deg);
					-o-transform: translateY(5px) rotate(45deg);
					transform: translateY(5px) rotate(45deg);
				}
				&:nth-child(3){
					-webkit-transform: translateY(-9px) rotate(-45deg);
					-ms-transform: translateY(-9px) rotate(-45deg);
					-o-transform: translateY(-9px) rotate(-45deg);
					transform: translateY(-9px) rotate(-45deg);
				}
			}
		}
	}
	.section-fleava{
		&__third{
			min-height: unset;
			background: #0076fe;
			padding-bottom: 82px;
			.slider-wrapper{
				&:before{
					display: none;
				}
			}
			.slider-items__link{
			    height: 300px;
			}
		}
		&__fiveth{
			.article{
				&-wrapper{
					flex-direction: column;
				}
				&-items{
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				&-img{
				    height: 300px;
				}
			}
		}
	}
	.content-footer{
		flex-direction: column;
		&__items{
			flex-basis: unset;
		    min-width: 100%;
		    padding: 0;
		}
	}
	.content-footer:nth-child(2){
		align-items: flex-start;
		flex-direction: column-reverse;
		.form-group{
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 480px){
	.container-fleava{
	    max-width: 380px;
	}
	.section-fleava{
		&__third{
		    .slider-items__link{
		    	height: 460px;
		    }
		}
		&__fiveth{
			.article-img{
				height: 215px;
			}
		}
	}
}
@media (max-width: 426px){
	.section-fleava{
		&__third{
			padding-left: 20px;
		    padding-right: 20px;
		}
	}
}
@media (max-width: 376px){
	.container-fleava{
	    max-width: 300px;
	}
	.text-big {
	    font-size: 58px;
	}
	.section-fleava{
		&__third{
			.slider-items__link{
			    height: 400px;
			}
		}
		
	}
}
@media (max-width: 320px){
	.container-fleava{
	    max-width: 280px;
	}
}

