@font-face {
  font-family: 'Avalon';
  src: url("../fonts/Avalon-Bold.woff2") format("woff2"), url("../fonts/Avalon-Bold.woff") format("woff"), url("../fonts/Avalon-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: url("../fonts/AvalonPlain.woff2") format("woff2"), url("../fonts/AvalonPlain.woff") format("woff"), url("../fonts/AvalonPlain.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0 !important;
}

body {
  margin: 0;
  font-family: "Avalon";
}

a {
  text-decoration: none;
}

.fleava-navbar {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9;
}

.fleava-navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.fleava-navbar__wrapper a {
  color: #fff;
}

.fleava-navbar__brand {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.fleava-navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.fleava-navbar__menu-item {
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 14px;
}

.footer-fleava {
  background: #000000;
  padding: 50px 0;
  color: #fff;
}

.footer-logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 28px;
}

.btn-submit__arrow {
  background: transparent;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.form-footer {
  color: #fff;
}

.content-footer {
  display: flex;
  align-items: flex-start;
}

.content-footer__items {
  flex-basis: 50%;
  padding: 0 35px;
}

.content-footer__items-inline {
  display: flex;
}

.content-footer__items-inner {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.content-footer__items-inner a {
  color: #fff;
  margin-bottom: 5px;
}

.content-footer:first-child {
  margin-bottom: 30px;
}

.content-footer:nth-child(2) {
  align-items: flex-end;
}

.content-footer:nth-child(2) .content-footer__items p {
  margin: 0;
}

.section {
  padding: 50px 0;
}

.img-responsive {
  width: 100%;
}

.container-fleava {
  max-width: 960px;
  height: 100%;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-fleava__center {
  display: flex;
  align-items: center;
}

.form-group {
  position: relative;
}

.form-group__inline {
  display: flex;
}

.form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  display: inline-block;
  width: 100%;
}

.form-control:focus {
  outline: 0;
}

.text-big {
  font-size: 72px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.logo {
  width: 35px;
  margin-right: 10px;
}

.tns-nav button {
  background: #fff;
  border: 0;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  padding: 0;
  opacity: .8;
  margin: 0 5px;
  transition: .3s ease;
}

.tns-nav button:focus {
  outline: none;
}

.tns-nav .tns-nav-active {
  width: 13px;
  height: 13px;
}

.btn {
  color: #fff;
  padding: 14px 22px;
  letter-spacing: 1px;
  font-size: 12px;
  display: inline-block;
}

.btn-primary {
  background: #0076fe;
}

.btn-secondary {
  background: #303030;
}

.section-fleava__first {
  background-image: url("../img/home/hero.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  position: relative;
}

.section-fleava__first:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section-fleava__first .btn-primary {
  text-transform: uppercase;
}

.section-fleava__first .hero-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
}

.section-fleava__second h1 {
  margin-top: 0;
}

.section-fleava__third {
  position: relative;
}

.section-fleava__third .bg-slider {
  background: #0076fe;
  height: 635px;
  border-radius: 10px;
}

.section-fleava__third .slider-wrapper {
  position: absolute;
  top: 21%;
}

.section-fleava__third .tns-controls {
  display: none;
}

.section-fleava__third .tns-nav {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-fleava__fourth {
  background-color: #0076fe;
}

.section-fleava__fourth i.icon-twitter {
  color: #fff;
  font-size: 24px;
}

.section-fleava__fiveth .article-wrapper {
  display: flex;
}

.section-fleava__fiveth .article-items {
  padding: 0 15px;
}

.section-fleava__fiveth .article-content {
  text-align: center;
}

.tns-outer {
  padding: 0 !important;
}

.tns-outer [hidden] {
  display: none !important;
}

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  transition: all 0s;
}

.tns-slider > .tns-item {
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}

.tns-gallery > .tns-moving {
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.loaded {
  opacity: 1;
}

.tns-ah {
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}

.tns-t-ct {
  width: 2333.33333333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0;
}

.tns-t-ct:after {
  content: '';
  display: table;
  clear: both;
}

.tns-t-ct > div {
  width: 1.4285714286%;
  width: calc(100% / 70);
  height: 10px;
  float: left;
}

/*# sourceMappingURL=app.css.map */
