@font-face {
    font-family: 'Avalon';
    src: url('Avalon-Bold.woff2') format('woff2'),
        url('Avalon-Bold.woff') format('woff'),
        url('Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('AvalonPlain.woff2') format('woff2'),
        url('AvalonPlain.woff') format('woff'),
        url('AvalonPlain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

