// Fonts
// @font-face {
//     font-family: 'Sophia Nubian';
//     src: url('../fonts/SophiaNubian.woff2') format('woff2'),
//         url('../fonts/SophiaNubian.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Avalon';
    src: url('../fonts/Avalon-Bold.woff2') format('woff2'),
        url('../fonts/Avalon-Bold.woff') format('woff'),
        url('../fonts/Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('../fonts/AvalonPlain.woff2') format('woff2'),
        url('../fonts/AvalonPlain.woff') format('woff'),
        url('../fonts/AvalonPlain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$font-primary : 'Avalon';

html{
	padding: 0 !important;
}
body{
	margin: 0;
	font-family: $font-primary;
}
a{
	text-decoration: none;
}